@()


@articleHeader = {
    <div class="status status-header status-small-header"
         style="background: #FF712C;"></div>
}

@main(Messages("blotre.meta.policy.title"), "policy", articleHeader = articleHeader) {

<h1>The Policy</h1>
<p>
    We give you the power to share as part of our mission to make the world a more colorful place. This policy describes what information you allow us to collect, as well as detailing the expectations of your relationship with Blot're.
</p>

<nav class="policy-nav ">
    <div class="row">
        <div class="col-xs-4">
            <a href="#allow-collect" style="border-color: #F24B4B;">What information do you allow us to collect?</a>
        </div>
        <div class="col-xs-4">
            <a href="#how-use" style="border-color: #60BFBF;">How do you allow us to use this information?</a>
        </div>
        <div class="col-xs-4">
            <a href="#how-manage" style="border-color: #F8BB44;">How can I manage or delete information about me?</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-xs-offset-2">
            <a href="#how-notify" style="border-color: #1F8A70;">How will we notify you of changes to The Policy?</a>
        </div>
        <div class="col-xs-4">
            <a href="#how-contact" style="border-color: #FD7400;">How to contact Blot're.</a>
        </div>
    </div>
</nav>

<section id="policy-allow-collect">
    <span class="anchor" id="allow-collect"></span>

    <h2 style="border-color: #F24B4B;">What information do allow you us to collect?</h2>

    Depending on how you use Blot're, you allow us to collect different kinds of information from or about you.

    <section>
        <h3>Things you do and information you provide.</h3>
        <p>
            We collect content you provide when you use Blot're, including when you create or share colors.
        </p>
    </section>

    <section>
        <h3>Things others do and information they provide.</h3>
        <p>
            We also collect content and information that other people provide when they use Blot're, including information about you. This includes what you follow  and who follows you.
        </p>
    </section>

    <section>
        <h3>How and why you do things.</h3>
        <p>
            We collect information about how you integrate Blot're into your life. For example, if you use Blot're to monitor your toast, we may collect information about toast preferences and toaster usage.
        </p>
        <p>
            We also collect information about what inspires your usage of Blot're and your choice of color. This may include color sources such as photographs, videos, eyesight, thoughts, and dreams.
        </p>
    </section>

    <section>
        <h3>Things which you are rumored to have done.</h3>
        <p>
            We may collect rumors about your relationship with Blot're from sources including, but are not limited to: acquaintances, coworkers, neighbors, your mom, bathroom wall poetry, folk legends, the Nixon Tapes, and all forms of electromagnetic communication.
        </p>
        <p>
            Blot're only stores factual rumors. Everything Blot're stores is a fact. That's why Blot're stores it. If facts show you to be a safety or security threat, preemptive disciplinary action may be taken.
        </p>
    </section>

    <section>
        <h3>Things you may do in the future.</h3>
        <p>
            We collect information about how you will behave regarding Blot're in the future. This includes all possible futures, plus futures from parallel universes.
        </p>
    </section>
</section>

<section id="policy-allow-use">
    <span class="anchor" id="how-use"></span>

    <h2 style="border-color: #60BFBF;">How do you allow us to use this information?</h2>
    We are passionate about creating colorful experiences for people. We use the information you provide to help us support Blot're. Here's how:

    <section>
        <h3>Provide, improve, and expand Blot're.</h3>
        <p>
            Color is our passion. So we need all this data to provide the most accurate colors possible.
        </p>
        <p>
            All colors, including any new colors developed while using Blot're, are the express legal property of Blot're.
        </p>
    </section>

    <section>
        <h3>Promote safety and security.</h3>
        <p>
            We use the information you provide to promote the safety and security of Blot're. This includes investigating suspicious activity or violations of The Policy that may threaten Blot're or its current and future interests.
        </p>
    </section>
</section>


<section id="policy-manage">
    <span class="anchor" id="how-manage"></span>

    <h2 style="border-color: #F8BB44;">How can I manage or delete information about me?</h2>

    <p>
        There is no information about you to manage or delete.
    </p>
</section>


<section id="policy-notify-change">
    <span class="anchor" id="how-notify"></span>

    <h2 style="border-color: #1F8A70;">How will we notify you of changes to The Policy?</h2>

    <p>
        There are no changes in policy. There is only The Policy.
    </p>
    <p>
        If you believe the policy has changed, you are wrong. The policy is, and has always been, perfect.
    </p>
</section>

<section id="policy-contact">
    <span class="anchor" id="how-contact"></span>

    <h2 style="border-color: #FD7400;">How to contact Blot're.</h2>

    <section>
        <h3>For Yourself.</h3>
        <p>
            If you are concerned that you have infringed on The Policy, or may infringe on The Policy in the future, contact us.
        </p>
        <p>
            Please provide your full contact information along with GPS coordinates of your current location. Representatives will personally assist your understanding of The Policy within the hour.
        </p>
    </section>

    <section>
        <h3>For a Friend.</h3>
        <p>
            If you believe
        </p>
    </section>
</section>
}
