@(implicit request: RequestHeader)

@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@articleHeader = {
<div class="status status-header status-small-header"
     style="background: #FF712C;"></div>
}

@main(Messages("blotre.meta.terms.title"), "terms", articleHeader = articleHeader) {

<h1>Terms</h1>
<p>
    Time to get serious for a moment, listen up.
</p>

<section>
    <p>
        <a href="/ThePolicy">The Policy</a> is for entertainment purposes only and is not a legal document (shocking, I know). We don't really own your future or collect your dreams and we don't ever intend to. This page covers what data Blot're really does collect and lays out some general terms of use for Blot're. It's pretty simple.
    </p>
</section>

<section>
<span class="anchor"></span>

<h2 style="border-color: #F24B4B;">What Information does Blot're Collect and Why?</h2>
<p>
    Blot're collects data you enter into Blot're (duh), such as stream names and colors. We may also collect non-identifying metadata about how you use the Blot're and your experience. This may include: errors encountered, average response time, and viewed pages. This metadata helps us identify problems and improve Blot're.
</p>

<p>
    Blot're uses third party providers for login. During initial signup, we may collect some information about your account from these providers. This may include your user id and username (which may be an email address) and other personal info, such as first and last name. This information is only used to identify your account in the system, we don't want your damn personal data and, frankly, find it a bit offensive too. We will never pimp out your data for the $$$ and we will never email you for any reason.
</p>

<p>
    Blot're may integrate with third party services, such as Twitter. We will always explicitly ask for permission before attempting to use any service on your behalf.
</p>
</section>

<section>
<span class="anchor"></span>

<h2 style="border-color: #60BFBF;">Terms of Use</h2>
<p>
    Don't be a jerk. Easy. Still don't understand? Here's a few ideas:
</p>

<ol>
    <li>
        <a href="http://github.com/mattbierner/blotre/issues/">Report site bugs on Github.</a>
    </li>
    <li>Don't intentionally attempt to degrade Blot're. It'd be like curb stomping a puppy <i>American History X</i> style. Yes you probably can do it, but why bother?</li>
    <li>Don't use Blot're for bad things. How? We don't know. But don't do it.</li>
    <li>
        Don't like something about Blot're? <a href="http://github.com/mattbierner/blotre/">Fork the source</a> and make it better.
    </li>
</ol>

<p>
    Blot're is not responsible for any data loss, data corruption, or malicious data access. We also are not responsible for what third party developers do with the Blot're APIs. 
</p>
</section>

}
