@(implicit request: RequestHeader)

@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@articleHeader = {
<div class="status status-header status-small-header"
     style="background: #FF712C;"></div>
}

@main(Messages("blotre.meta.terms.title"), "terms", articleHeader = articleHeader) {

<h1>Terms</h1>
<p>
    Time to get serious for a moment. Listen up.
</p>

<p>
    The Policy is not a legal document. We don't really own your future, or collect your dreams (at least not yet). This page covers what data Blot're really does collect and lays out some general terms of use for Blot're. It's pretty simple.
</p>

<section>

<span class="anchor"></span>

<h2 style="border-color: #F24B4B;">What Information does Blot're Collect and Why?</h2>
<p>
    Blot're collects data you enter into Blot're, such as stream names and colors. We may also collect non-identifying metadata about how you use the Blot're and your experiance. This may include: errors encountered, average response time, and viewed pages on Blot're. This metadata helps us identify problems and improve Blot're.
</p>

<p>
    Blot're uses third party providers for login. During initial signup, we may collect some information about the account you signed with from these providers. This includes your user id and username (which may be an email address) and other personal info such as first and last name. We don't want your damn personal data and, frankly, find it a bit offensive too.
</p>

<p>
    Blot're may integrate with third party services, such as Twitter. We will always explicitly ask for permission before attempting to use any service on your behalf.
</p>

</section>

<span class="anchor"></span>

<h2 style="border-color: #60BFBF;">Terms of Use</h2>
<p>
    Don't be a jerk. Easy. Still don't understand? Here's a guide:
</p>

<ul>
    <li>Report site bugs on Github.</li>
    <li>Don't intentionally attempt to degrade Blot're. It'd be like punting a puppy. Yes, you probably can do it, but why bother?</li>
    <li>Don't use Blot're for illegal things. How? We don't know. But don't do it.</li>
</ul>

<p>
    Blot're is not responsible for data loss, data corruption, or malicious data access.
</p>

</section>

}
