/**
    Stream index page
*/

.stream-search {
    max-width: 600px;
    margin: 0 auto;
}

#stream-search-input {
    padding-bottom: 1rem;
}

#stream-search-query-label {
    text-align: center;
    margin: 0;
    color: #777;
}

#stream-search-results {
    padding-top: 0.4rem;
}

.stream-search-result {
    position: relative;
    border-left-width: 20px;
    border-left-style: solid;
}

.stream-search-result a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 2rem;
    padding-left: 4rem;
}

.stream-search-result .color-label {
    position: absolute;
    top: 50%;
    left: 0.4rem;
    width: 1px;
    word-break: break-all;
    line-height: 0.9em;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.stream-search-result h2 {
    font-weight: 300;
    margin-bottom: 0;
}

.stream-search-result .stream-uri {
    color: #aaa;
}

.stream-search-result .stream-uri:before {
    content: "/";
}

.stream-children {
    padding-top: 4rem;
}

.stream-children li {
    padding: 1rem 0;
}

.create-child-expand-button {
    width: 100%;
    color: inherit;
    text-align: center;
    padding: 10px;
}


.in.collapse + .create-child-expand-button:before {
    content: "Cancel";
}