/**
    Stream status Picker
*/

.status-picker-form .sp-replacer {
    padding: 0;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    border: none;
}

.status-picker-form .sp-preview {
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.sp-container {
    left: 50% !important;
    margin-left: -200px;
}

.sp-button-container {
    text-align: center;
    float: none;
}

/**
    Small screen
*/
@media only screen and (max-width : 500px) {
    .sp-container {
        width: 200px;
        margin-left: -100px;
    }

    .sp-palette-container {
        border: none;
    }
}
