@(
    client: models.Client,
    redirectForm: play.api.data.Form[CreateRedirectForm])

@import helper._
@import com.feth.play.module.pa.views.html._

@articleHeader = {
<div class="status status-header status-small-header"
     style="background: #FF712C;"></div>
}


@main(Messages("playauthenticate.login.title"), "clients", articleHeader = articleHeader) {
    <h1>Create New Redirect</h1>
    @helper.form(action = routes.DeveloperController.addRedirectSubmit(client.id.toString)) {

        @helper.inputText(redirectForm("uri"))

        <input type="submit" value="Create" />
    }
}
