@(client: models.Client)(implicit request: Request[AnyContent])

@import helper._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@articleHeader = {
<div class="status status-header status-small-header"
     style="background: #FF712C;"></div>
}

@extraScripts = {
    <script>
        window.clientId = "@client.id";
    </script>
    <script data-main="@routes.Assets.at("js/client.js")" type="text/javascript" src="@routes.Assets.at("lib/requirejs/require.js")"></script>
}

@main(client.name, "client", articleHeader = articleHeader, extraScripts = extraScripts) {

<nav class="page-crumbs">
    <a href="@routes.DeveloperController.index()">Developer</a>
</nav>


<h1>Client</h1>

<ul class="kv-group">
    <li>
        <span class="key">Name</span><span class="value">@client.name</span>
    </li>
    <li>
        <span class="key">Uri</span><span class="value">@client.uri</span>
    </li>
    <li>
        <span class="key">Blurb</span><span class="value">@client.blurb</span>
    </li>

    <li>
        <span class="key">Id</span><span class="value">@client.id</span>
    </li>
    <li>
        <span class="key">Secret</span><span class="value">
        @client.clientSecret
        @form(action = routes.DeveloperController.regenerateSecret(client.id.toString)) {
            @CSRF.formField
            <input type="submit" class="btn btn-default" value="Regenerate Secret" />
        }
        </span>
    </li>
</ul>

<h3>Redirects</h3>
<div>
    <textarea id="redirects-textbox">@client.redirects</textarea>
</div>

<p class="error hidden" id="rediects-error"></p>

<div class="btn-group" role="group">
    <button type="button" class="btn btn-default" id="save-redirects-button" disabled>Save</button>
    <button type="button" class="btn btn-default" id="cancel-redirects-button" disabled>Cancel</button>
</div>

<div>
    <button type="button" class="btn btn-danger" id="delete-client-button">Delete Client</button>
</div>
}