@(
    clientForm: play.api.data.Form[CreateClientForm])(implicit request: Request[AnyContent])

@import helper._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@articleHeader = {
<div class="status status-header status-small-header"
     style="background: #FF712C;"></div>
}

@main(Messages("playauthenticate.login.title"), "clients", articleHeader = articleHeader) {
    <h1>Create New Client</h1>
    @form(action = routes.DeveloperController.createClientSubmit) {
        @CSRF.formField

        @inputText(clientForm("name"))
        @inputText(clientForm("uri"))
        @inputText(clientForm("blurb"))

        <input type="submit" value="Submit" />
    }
}
