@(
    clients: scala.collection.immutable.List[models.Client])(implicit request: Request[AnyContent])

@import helper._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@articleHeader = {
<div class="status status-header status-small-header"
     style="background: #FF712C;"></div>
}


@main(Messages("playauthenticate.login.title"), "clients", articleHeader = articleHeader) {
    <h1>Developer</h1>

    <h3>Clients</h3>
    <a href="@routes.DeveloperController.createClient()">Create new client</a>
    <ul id="clients" class="row">
        @for(client <- clients) {
            <li><a href="@routes.DeveloperController.getClient(client.id.toString)">@client.name</a></li>
        }
    </ul>
}
