@(stream: models.Stream)(implicit request: RequestHeader)

@import helper._

@if(stream != null) {
    @_userOr { user =>
        <div class="status-picker-form">
            <input class="status-picker hidden"
                   name="color"
                   type="text"
                   value="@stream.status.color"
                   data-bind="value: color" />
        </div>
    } {
        <div class="status-picker-form">
            <div class="sp-replacer" data-bind="style: { background: color }" /></div>
        </div>
    }
}