@(parent: models.Stream, childName: models.StreamName)(implicit request: play.api.mvc.RequestHeader)

@import helper._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@articleHeader = {
    <div class="status status-header status-small-header" style="background: #EB4D86;"></div>
}

@extraScripts = {
    <script data-main="@routes.Assets.versioned("js/stream_create_child.js")" src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>
}

@main(Messages("blotre.stream.tryCreate.title"), "createChild", articleHeader = articleHeader, extraScripts = extraScripts) {
    <h1>@Messages("blotre.stream.tryCreate.header")</h1>
    <p>
        @parent.uri/<b>@childName.value</b>
    </p>
    <p>@Messages("blotre.stream.tryCreate.body")</p>

    <button class="btn btn-lg create-child-button">
       <span class="glyphicon glyphicon-plus"></span>
    </button>
}
