@()

@import play.api.libs.json._
@import helper._
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@articleHeader = {
<div class="status status-header status-small-header"
     style="background: #EB4D86;"></div>
}

@extraScripts = {
    <script type="text/html" id="stream-search-result-template">
        <li class="stream-search-result" data-bind="style: { 'border-color': color }">
            <a data-bind="attr: { href: url }">
                <span class="color-label" data-bind="text: color"></span>
                <h2 data-bind="text: name"></h2>
            </a>
        </li>
    </script>

    <script data-main="@routes.Assets.at("js/stream_index.js")" type="text/javascript" src="@routes.Assets.at("lib/requirejs/require.js")"></script>

}

@main(Messages("playauthenticate.profile.title"), "profile", articleHeader = articleHeader, extraScripts = extraScripts) {

    <h1>Find Color</h1>
    <div class="stream-search">
        <div id="stream-search-input" class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
            </span>
            <input type="text" class="form-control" placeholder="@Messages("blotre.controls.search.findChildPlaceholder")">
        </div>
        <p id="stream-search-query-label" data-bind="text: query() || 'Latest'"</p>

        <ul id="stream-search-results" data-bind="template: { name: 'stream-search-result-template', foreach: results }"></ul>
    <div>
}
