@(
    stream: models.Stream,
    children: scala.collection.immutable.List[models.Stream] = scala.collection.immutable.List(),
    uriPath: scala.collection.immutable.Seq[(String, String)])

@import play.api.libs.json._
@import helper._
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@extraHead = {
    <link id="favicon"
          rel="icon"
          type="image/png"
          href="@("/s/" + stream.uri + ".png?no-cache=" + scala.util.Random.nextInt())" />
}

@navHeader = {
    <ul id="stream-breadcrumbs">
        @for((name, path) <- uriPath) {
            <li><a href="/s@path">@name</a></li>
        }
    </ul>
}

@articleHeader = {
    <div class="status status-header" style="background: @stream.status.color" data-bind="style: { background: color }">
        <div class="status-header-shadow"></div>
    </div>
    <a href="#"
       class="status status-header-peak status-small-header "
       style="background: @stream.status.color"
       data-bind="style: { background: color }"></a>
}

@extraScripts = {
    <script type="text/html" id="stream-search-result-template">
        <li class="stream-search-result">
            <a data-bind="attr: { href: url }">
                <div class="status" data-bind="style: { 'background': color }"></div>
                <span class="color-label" data-bind="text: color"></span>
                <h2 data-bind="text: name"></h2>
                <span class="stream-uri" data-bind="text: uri"></span>
            </a>
        </li>
    </script>

    <script data-main="@routes.Assets.at("js/main.js")" type="text/javascript" src="@routes.Assets.at("lib/requirejs/require.js")"></script>
}

@main(stream.name, "stream", extraHead = extraHead, articleHeader = articleHeader, navHeader = navHeader, extraScripts = extraScripts) {

    <div class="stream-header">
        <div class="stream-data">
            <span class="color-label" data-bind="text: color"></span>
            <a href="@routes.Stream.getStream(stream.uri)"><h1 class="stream-title">@stream.name</h1></a>
            <div class="stream-updated"
                 data-bind="text: stream().displayUpdated">@stream.updated.format("MMM dd, yyyy - hh:mm.ssSSS")</div>
        </div>

        <nav class="stream-controls @("hidden".when(!controllers.Stream.canUpdateStreamStatus(stream, Application.getLocalUser(session()))))">
            <button disabled="disabled" class="stream-favorite btn-lg">
                <span class="glyphicon glyphicon-star"></span>
            </button>
            <div class="status-picker-control">
                @_streamColorControl(stream)
            </div>
            <button class="stream-favorite btn-lg">
                <span class="glyphicon glyphicon-share-alt"></span>
            </button>
        </nav>
    </div>

    <div class="stream-body">
        @helper.form(action = routes.Stream.getStream(stream.uri), 'id -> "stream-search-form", 'role -> "search") {
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Go!</button>
                </span>
                <input name="query" type="text" class="form-control" placeholder="@Messages("blotre.controls.search.findChildPlaceholder")">
            </div>
        }
        <p id="stream-search-query-label" data-bind="text: query() || 'Latest'"</p>

        <div class="create-child clearfix @("hidden".when(!controllers.Stream.canUpdateStreamStatus(stream, Application.getLocalUser(session()))))">
            <div class="hidden" id="create-child-name-input">
                <input class="form-control" type="text" name="name" placeholder="Name" />
            </div>
            <button id="create-child-expand-button"
                class="btn btn-default"
                title="@Messages("blotre.stream.stream.createChildButtonTitle")">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <div class="hidden" id="create-child-cancel-button">
                <button class="btn btn-default">@Messages("blotre.stream.stream.cancelCreateChildButton")</button>
            </div>
            <div class="error hidden"></div>
        </div>

        <ul class="stream-children" id="stream-search-results">
            <li class="no-results hidden">@Messages("blotre.stream.stream.noChildren")</li>
            <!-- ko template: { name: 'stream-search-result-template', foreach: children().children } --><!-- /ko -->
        </ul>
    </div>

    <script>
        window.initialStreamData = @Html(Json.toJson(stream).toString());
    </script>
}
