@(
    stream: models.Stream,
    children: scala.collection.immutable.List[models.Stream],
    uriPath: scala.collection.immutable.Seq[(String, String)])(implicit request: RequestHeader)

@import play.api.libs.json._
@import helper._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@extraHead = {
    <link id="favicon"
          rel="icon"
          type="image/png"
          href="@("/s/" + stream.uri + ".png?no-cache=" + scala.util.Random.nextInt())" />
}

@navHeader = {
    <ul id="stream-breadcrumbs">
        @for((name, path) <- uriPath) {
            <li><a href="/s@path">@name</a></li>
        }
    </ul>
}

@articleHeader = {
    <div class="status status-header" style="background: @stream.status.color" data-bind="style: { background: color }">
        <div class="status-header-shadow"></div>
    </div>
    <a href="#"
       class="status status-header-peak status-small-header"
       style="background: @stream.status.color"
       data-bind="style: { background: color }"></a>
    <span class="color-label" data-bind="text: color"></span>
}

@extraScripts = {
    <script>
        window.initialStreamData = @Html(Json.toJson(stream).toString());
    </script>

    <script type="text/html" id="stream-search-result-template">
        <li class="stream-search-result">
            <a data-bind="attr: { href: url }">
                <div class="status" data-bind="style: { 'background': color }"></div>
                <span class="color-label" data-bind="text: color"></span>
                <h2 data-bind="text: name"></h2>
                <span class="stream-uri" data-bind="text: uri"></span>
            </a>
            <div class="child-controls" data-bind="css: { hidden: !$parent.user().userName() || !$root.isParentOwner() }">
                <button data-bind="click: $parent.removeChildButtonClick">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </li>
    </script>

    <script type="text/html" id="stream-tag-template">
        <li class="tag">
            <a data-bind="attr: { href: url }, text: value"></a>
        </li>
    </script>

    <script data-main="@routes.Assets.at("js/main.js")" type="text/javascript" src="@routes.Assets.at("lib/requirejs/require.js")"></script>
}

@main(stream.name, "stream", extraHead = extraHead, articleHeader = articleHeader, navHeader = navHeader, extraScripts = extraScripts) {

    <div class="stream-header">
        <div class="stream-data">
            <h1 class="stream-title">
                <a data-bind="text: stream().name" href="@routes.Stream.getStream(stream.uri)">@stream.name</a>
            </h1>
            <span class="stream-updated" data-bind="text: stream().displayUpdated">
                 @stream.updated.format("MMM dd, yyyy - hh:mm.ssSSS")
            </span>
            <div class="tags">
                <div id="tag-editor" class="@("hidden".when(!stream.isOwner(Application.getLocalUser(request))))">
                    <div id="tag-input" class="input-group hidden">
                        <span class="input-group-btn">
                            <button id="save-tags-button" class="btn btn-default" type="button">Save</button>
                        </span>
                        <input type="text" class="form-control" />
                    </div>
                    <button id="edit-tags-button" title="Edit Tags">
                        <span class="glyphicon glyphicon-tag"></span>
                    </button>
                </div>
                <ul class="tag-list" data-bind="template: { name: 'stream-tag-template', foreach: stream().tags }"></ul>
            </div>
        </div>

        <nav class="stream-controls @("hidden".when(Application.getLocalUser(request) == null))"">
            <button disabled="disabled" class="stream-favorite btn-lg">
                <span class="glyphicon glyphicon-star"></span>
            </button>
            <div class="status-picker-control @("hidden".when(!stream.isOwner(Application.getLocalUser(request))))">
                @_streamColorControl(stream)
            </div>
            <button class="stream-share btn-lg" disabled>
                <span class="glyphicon glyphicon-share-alt"></span>
            </button>
        </nav>
    </div>

    <div class="stream-body">
        @helper.form(action = routes.Stream.getStream(stream.uri), 'id -> "stream-search-form", 'role -> "search") {
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Go!</button>
                </span>
                <input name="query" type="text" class="form-control" placeholder="@Messages("blotre.controls.search.findChildPlaceholder")">
            </div>
        }
        <p id="stream-search-query-label" data-bind="text: query() || 'Latest'"</p>

        <div class="create-child clearfix @("hidden".when(!stream.isOwner(Application.getLocalUser(request))))">
            <div class="hidden" id="create-child-name-input">
                <input class="form-control" type="text" name="name" placeholder="Name" />
            </div>
            <button id="create-child-expand-button"
                class="btn btn-default"
                title="@Messages("blotre.stream.stream.createChildButtonTitle")">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <div class="hidden" id="create-child-cancel-button">
                <button class="btn btn-default">@Messages("blotre.stream.stream.cancelCreateChildButton")</button>
            </div>
            <div class="error hidden"></div>
        </div>

        <div class="list-header list-loading">
            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
        </div>
        <ul class="stream-children" id="stream-search-results">
            <li class="no-results hidden">@Messages("blotre.stream.stream.noChildren")</li>
            <!-- ko template: { name: 'stream-search-result-template', foreach: children().children } --><!-- /ko -->
        </ul>
    </div>

    <div class="centered" id="spectrum-container"></div>
}
