@(tag: models.StreamTag)(implicit request: RequestHeader)

@import play.api.libs.json._
@import helper._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@navHeader = {
    <ul class="breadcrumbs tag-breadcrumbs">
        <li><a href="@routes.Stream.getTag(tag.value)" data-bind="text: tag">@tag.value</a></li>
    </ul>
}


@extraScripts = {
    @_streamSearchResultTemplate { }

    <script data-main="@routes.Assets.at("js/tag.js")" type="text/javascript" src="@routes.Assets.at("lib/requirejs/require.js")"></script>

    <script>
        window.initialTag = @Html(Json.toJson(tag).toString());
    </script>
}

@main(tag.value, "tag", navHeader = navHeader, extraScripts = extraScripts) {

    <div class="stream-header tag-stream-header">
        <div class="stream-data">
            <h1 class="stream-title">
                <a href="@routes.Stream.getTag(tag.value)" data-bind="text: tag">@tag.value</a>
            </h1>
        </div>
    </div>

    <div class="stream-body">
        @helper.form(action = routes.Stream.getTag(tag.value), 'id -> "stream-search-form", 'role -> "search") {
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Go!</button>
                </span>
                <input name="query" type="text" class="form-control" placeholder="@Messages("blotre.controls.search.findChildPlaceholder")">
            </div>
        }
        <p id="stream-search-query-label" data-bind="text: query() || 'Latest'"</p>

        <div class="list-header list-loading">
            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
        </div>
        <ul class="stream-children" id="stream-search-results">
            <li class="no-results hidden">@Messages("blotre.stream.stream.noChildren")</li>
            <!-- ko template: { name: 'stream-search-result-template', foreach: children().children } --><!-- /ko -->
        </ul>
    </div>
}
