@(
    client: models.Client,
    redirect_uri: String)


@import helper._
@import com.feth.play.module.pa.views.html._

@articleHeader = {
    <div class="status status-header status-small-header"
         style="background: #FF712C;"></div>
}

@main(Messages("blotre.authorize.title"), "authorize", articleHeader = articleHeader) {
    <h1>@Messages("blotre.authorize.pageTitle")</h1>

    <p>@Messages("blotre.authorize.overview", client.name)</p>
    <p>@Messages("blotre.authorize.description")</p>

    <div class="client-info">
        <p><b>Name: </b>@client.name</p>
        <p><b>Link: </b><a href="@client.uri">@client.uri</a></p>
        <p><b>About: </b>@client.blurb</p>
    </div>

    @helper.form(action = routes.OAuth2Controller.onAuthorize) {
        <input type="hidden" name="client_id" value="@client.id.toString" />
        <input type="hidden" name="redirect_uri" value="@redirect_uri" />
        <button class="btn btn-lg btn-success" type="submit" name="action" value="allow">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Allow</button>
        <button class="btn btn-lg btn-danger" type="submit" name="action" value="deny">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Deny
        </button>
    }
}
