@(client: models.Client)


@import helper._
@import com.feth.play.module.pa.views.html._

@articleHeader = {
    <div class="status status-header status-small-header"
         style="background: #FF712C;"></div>
}


@main(Messages("playauthenticate.login.title"), "login", articleHeader = articleHeader) {
    <div id="login" class="row">
        <div class="login-panel">
            <h1>@Messages("blotre.index.login.title")</h1>
            @_providerPartial(skipCurrent=false)
        </div>
    </div>
}
