@(
    response_type: String,
    client: models.Client,
    extraData: String)


@import helper._
@import com.feth.play.module.pa.views.html._

@articleHeader = {
    <div class="status status-header status-small-header"
         style="background: #FF712C;"></div>
}

@main(Messages("blotre.authorize.title"), "authorize", articleHeader = articleHeader) {
    <div class="page-header">
        <h1>@Messages("blotre.authorize.pageTitle")</h1>

        <p class="overview">@Messages("blotre.authorize.overview", client.name)</p>
        <p class="description">@Messages("blotre.authorize.description")</p>
    </div>

    <div class="row display-table">
        <div class="authorize-client-info col-xs-8">
            <h3>Application</h3>
            <p><b>Name: </b>@client.name</p>
            <p><b>About: </b>@client.blurb</p>
        </div>

        @form(action = routes.OAuth2Controller.onAuthorize, 'class -> "authorize-allow-form col-xs-4 display-cell") {
            @CSRF.formField
            <input type="hidden" name="response_type" value="@response_type" />
            <input type="hidden" name="client_id" value="@client.id.toString" />
            <input type="hidden" name="extra_data" value="@extraData" />

            <button class="btn btn-lg btn-success" type="submit" name="action" value="allow">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Allow
            </button>
            <button class="btn btn-lg btn-danger" type="submit" name="action" value="deny">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Deny
            </button>
        }
    </div>
}
