@(message: String)(implicit request: RequestHeader)

@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@articleHeader = {
    <div class="status status-header status-small-header"
         style="background: #FF712C;"></div>
}

@main(Messages("blotre.authorize.error.title"), "authorizeError", articleHeader = articleHeader) {
    <div class="page-header">
        <h1>@Messages("blotre.authorize.error.pageTitle")</h1>
        <p class="overview">@Messages("blotre.authorize.clientError.overview")</p>
        <p class="description">@message</p>
    </div>
}
