@(implicit request: RequestHeader)

@import helper._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@articleHeader = {
<div class="status status-header status-small-header"
     style="background: #FF712C;"></div>
}

@main(Messages("blotre.redeemSuccess.title"), "redeemSuccess", articleHeader = articleHeader) {

<div class="page-header">
    <h1>@Messages("blotre.redeemSuccess.pageTitle")</h1>
    <p class="overview">@Messages("blotre.redeemSuccess.overview")</p>
    <p class="description">@Messages("blotre.redeemSuccess.description")</p>
</div>

}
