@(user: models.User)(implicit request: RequestHeader)

@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@main(Messages("blotre.account.pageTitle"), "account") {

    <h1>@Messages("blotre.account.pageTitle")</h1>
    <p>@user.userName</p>

    <p>
        @defining(user.getProviders()) { providers =>
            @if(providers.size > 0) {
            @if(providers.size ==1) {
                @Messages("playauthenticate.profile.providers_one")
            } else {
                @Messages("playauthenticate.profile.providers_many",providers.size.toString())
            }
            @for(p <- providers) {
                @_providerIcon(p)
            }
            <br/>
            }
        }
    </p>

    <p>
        <a href="@routes.Account.authorizations()">@Messages("blotre.account.manageAuthorizations")</a>
        <br />
        <a href="@routes.DeveloperController.index()">@Messages("blotre.account.developerAccount")</a>
    </p>
}
