@(
	acceptForm: play.api.data.Form[AcceptForm],
	newAccount: com.feth.play.module.pa.user.AuthUser)

@import helper._

@label = {
	@_providerIcon(newAccount.getProvider()) @Messages("playauthenticate.link.account.question",newAccount)
}

@main(Messages("playauthenticate.link.account.title")) {

	<h1>@Messages("playauthenticate.link.account.title")</h1>

	@form(routes.Account.doLink) {
		@CSRF.formField
		<label>@label</label>
		<button class="btn btn-lg btn-success" type="submit" name="accept" value="true">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Allow
		</button>
		<button class="btn btn-lg btn-danger" type="submit" name="accept" value="false">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Deny
		</button>
	}
}