@(
    acceptForm: play.api.data.Form[AcceptForm],
    aUser: com.feth.play.module.pa.user.AuthUser,
	bUser: com.feth.play.module.pa.user.AuthUser)

@import helper._

@label = {
	@Messages("playauthenticate.merge.accounts.question",aUser,bUser)
}

@main(Messages("playauthenticate.merge.accounts.title")) {

	<h1>@Messages("playauthenticate.merge.accounts.title")</h1>

	@form(routes.Account.doMerge) {
		<label>@label</label>

		<button class="btn btn-lg btn-success" type="submit" name="accept" value="true">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Allow
		</button>
		<button class="btn btn-lg btn-danger" type="submit" name="accept" value="false">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Deny
		</button>
	}
}