@()(implicit request: Request[AnyContent])

@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@extraScripts = {

<script data-main="@routes.Assets.at("js/account_authorizations.js")" type="text/javascript" src="@routes.Assets.at("lib/requirejs/require.js")"></script>
}


@main(Messages("blotre.account.authorizations.title"), "accountAuthorizations", extraScripts = extraScripts) {
    <h1>@Messages("blotre.account.authorizations.pageTitle")</h1>
    <div id="authorizations"></id>
}
