@(userNameForm: play.api.data.Form[UserNameSelectForm])

@import helper._

@extraHead = {
    <style>
        #article-container {
            text-align: center;
            padding-top: 0px;
        }

        #stream-name-preview {
            font-size: 2rem;
            padding-bottom: 2rem;
            word-wrap: break-word;
        }

        #user-name-input {
            width: 50%;
        }
    </style>
}

@extraScripts = {
    <script>
        $(function() {
            var updatePreview = function() {
                $('#stream-name-preview span')
                    .text($('#user-name-input').val().trim().toLowerCase());
            };

            $('#user-name-input')
                .on('input', updatePreview);

            updatePreview();
        });
    </script>
}

@articleHeader = {
    <div class="status status-header status-small-header"
         style="background: #A1E8D9;"></div>
}

@main(Messages("playauthenticate.link.account.title"), extraHead = extraHead, articleHeader = articleHeader, extraScripts = extraScripts) {
    <h1>@Messages("blotre.account.selectUserNameTitle")</h1>

    @form(action = routes.Account.setSelectedUserName()) {
        @CSRF.formField
        <p>@Messages("blotre.account.selectUserNameDescription")</p>
        <p id="stream-name-preview">https://blore.re/s/<span style="font-weight:bold"></span></p>

        @inputText(userNameForm("userName"),
            '_label -> "User name",
            'id -> "user-name-input",
            'maxlength -> "60",
            'minlength -> "3")
        <input type="submit" />
    }
}