/**
    OAuth 2 authorize page.
*/

.authorize-allow-form button {
    margin: 4px;
}

/**
    Redeem page
*/
.authorize-redeem-form {
    padding-top: 0.4rem;
}

.authorize-redeem-form > * {
    display: block;
    margin: 0.4rem auto;
}


/**
    Small screen
*/
@media only screen and (max-width : 420px) {
    .authorize-container .row {
        display: block;
        text-align: center;
    }

    .authorize-client-info,
    .authorize-allow-form {
        display: block;
        width: 100%;
        float: none;
    }
}