.error {
    color: red;
}

.trans-panel {
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    background: rgba(255, 255, 255, 0.85);
}


.display-table{
    display: table;
    table-layout: fixed;
}

.display-cell{
    display: table-cell;
    vertical-align: middle;
    float: none;
}


.glyphicon-refresh-animate {
    -webkit-animation: spinWebkit 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

.collapsing {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}


/**
    Kv-group
*/
.kv-group .key {
    font-weight: bold;
}
.kv-group .key:after {
    content: ": ";
}

@-webkit-keyframes spinWebkit {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}