.error {
    color: red;
}

.trans-panel {
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    background: rgba(255, 255, 255, 0.85);
}


.display-table{
    display: table;
    table-layout: fixed;
}

.display-cell{
    display: table-cell;
    vertical-align: middle;
    float: none;
}

.collapsing {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/**
    Kv-group
*/
.kv-group .key {
    font-weight: bold;
    text-align: right;
    padding-right: 0.2em;
}
.kv-group .key:after {
    content: ":";
}

/**
    Animated loading icon
*/
.glyphicon-refresh-animate {
    -webkit-animation: spinWebkit 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

@-webkit-keyframes spinWebkit {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}