/**
    Loading overlay
*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
}

#loading-overlay {
    color: white;
    background: rgba(0, 0, 0, 0.5);
}

#loading-overlay > div {
    background: #777;
    padding: 10px 20px;
}

#loading-overlay .loading-icon {
    width: 50px;
    height: 50px;

    -webkit-animation: flipWebkit 2s infinite linear;
    -moz-animation: flip 2s infinite linear;
    animation: flip 2s infinite linear;

    -webkit-transform-origin: 50% 50%;

    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#loading-overlay .loading-icon:before,
#loading-overlay .loading-icon:after,
#loading-overlay .loading-icon div {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid white;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

#loading-overlay .loading-icon:after {
    -webkit-transform: rotateX(45deg) rotateY(90deg) rotateZ(90deg);
    transform: rotateX(45deg) rotateY(90deg) rotateZ(90deg);
}


#loading-overlay .loading-icon div {
    -webkit-transform: rotateX(90deg) rotateY(0deg) rotateZ(45deg);
    transform: rotateX(90deg) rotateY(0deg) rotateZ(45deg);
}


@-webkit-keyframes flipWebkit {
    from { -webkit-transform: rotateY(0) rotateZ(45deg); }
    to { -webkit-transform: rotateY(360deg) rotateZ(45deg); }
}

@keyframes flip {
    from { transform: rotateZ(0); }
    to { transform: rotateZ(360deg); }
}