@(implicit request: RequestHeader)

@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@articleHeader = {
    <div id="index-header" class="hero-unit">
        <div class="container">
            <div id="index-blurb" class="deadly-diamond">
                <span>Be<br>Color</span>

                <div id="index-bg">
                    <div id="index-bg-1" class="index-bg-main"></div>
                    <div id="index-bg-2" class="index-bg-main"></div>
                    <div id="index-bg-3" class="index-bg-main"></div>
                    <div id="index-bg-4" class="index-bg-main"></div>

                    <div id="index-bg-over-1" class="index-bg-over"></div>
                    <div id="index-bg-over-2" class="index-bg-over"></div>
                    <div id="index-bg-over-3" class="index-bg-over"></div>
                    <div id="index-bg-over-4" class="index-bg-over"></div>
                </div>
            </div>
            <div class="trans-panel login-panel" id="index-login">
                <h1>@Messages("blotre.index.login.title")</h1>
                @_providerPartial(skipCurrent=false)
            </div>
        </div>
    </div>
}

@main(Messages("blotre.index.title"), "index", articleHeader = articleHeader) {
    <h1 class="row">
        16,777,216 ways to awesome
    </h1>

    <div class="row">
        <div class="col-xs-4 index-example">
            <h2 style="border-color: #F24B4B;">Be Color</h2>
            <p class="index-example-body">
                Update your color and share it with the world.
            </p>
        </div>
        <div class="col-xs-4 index-example">
            <h2 style="border-color: #60BFBF;">Get Color</h2>
            <p class="index-example-body">
                Roses are #F24B4B, violets are #60BFBF. I'm feeling #133000 and she is too!
            </p>
        </div>
        <div class="col-xs-4 index-example">
            <h2 style="border-color: #F8BB44;">Share Color</h2>
            <p class="index-example-body">
                Discover, link, organize, blend, and inject color.
                Color is highly addictive.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-xs-offset-2 index-example">
            <h2 style="border-color: #1F8A70;">Context Aware</h2>
            <p class="index-example-body">
                What is #1F8A70? How does #1F8A70 feel, how does it taste?
                Blot're leaves meaning up to you.
            </p>
        </div>
        <div class="col-xs-4 index-example">
            <h2 style="border-color: #FD7400;">Human</h2>
            <p class="index-example-body">
                With an astounding 16,777,216 colors, Blot're captures the entirety of human thought and emotion.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 index-example">
            <h2 style="border-color: #FF712C;">We &#10084; developers</h2>
            <p class="index-example-body">
                Integrate color with our REST and web socket based APIs. Let Blot're be your big brother.
            </p>
        </div>
        <div class="col-xs-4 index-example">
            <h2 style="border-color: #CFC291;">Reactive Mobility</h2>
            <p class="index-example-body">
                Blot're is reactively mobile first. We're so mobile first, we left the mobile up to you.
            </p>
        </div>
        <div class="col-xs-4 index-example">
            <h2 style="border-color: #A1E8D9;">IoT Ready</h2>
            <p class="index-example-body">
                Toasters, cars, pacemakers, literally everything will connect to Blot're.<br>
                It's the first IOT social network, with 2^128 potential customers.
            </p>
        </div>
    </div>
}
