@articleHeader = {
    <div id="index-header" class="hero-unit">
        <div class="container">
            <div id="index-blurb" class="deadly-diamond">
                <span>Be<br>Color</span>

                <div id="index-bg">
                    <div id="index-bg-1" class="index-bg-main"></div>
                    <div id="index-bg-2" class="index-bg-main"></div>
                    <div id="index-bg-3" class="index-bg-main"></div>
                    <div id="index-bg-4" class="index-bg-main"></div>

                    <div id="index-bg-over-1" class="index-bg-over"></div>
                    <div id="index-bg-over-2" class="index-bg-over"></div>
                    <div id="index-bg-over-3" class="index-bg-over"></div>
                    <div id="index-bg-over-4" class="index-bg-over"></div>
                </div>
            </div>
            <div class="trans-panel login-panel" id="index-login">
                <h1>@Messages("blotre.index.login.title")</h1>
                @_providerPartial(skipCurrent=false)
            </div>
        </div>
    </div>
}

@main(Messages("playauthenticate.index.title"), "index", containerClass = "index-container", articleHeader = articleHeader) {
    <h1 class="row" id="index-row-0">
        16,777,216 ways to awesome
    </h1>

    <div class="row" id="index-row-1">
        <div class="col-xs-4 index-example">
            <h2 style="border-color: #F24B4B;">Be Color</h2>
            <p class="index-example-body">
                Update your color and share it with the world.
            </p>
        </div>
        <div class="col-xs-4 index-example">
            <h2 style="border-color: #60BFBF;">Get Color</h2>
            <p class="index-example-body">
                You're <i>#60BFBF</i><br>
                He's <i>#F24B4B</i><br>
                She's <i>#1F8A70</i><br>
            </p>
        </div>
        <div class="col-xs-4 index-example">
            <h2 style="border-color: #F8BB44;">Share Color</h2>
            <p class="index-example-body">
                Discover color, mix color, squirt color. Color is infectious.
            </p>
        </div>
    </div>

    <div class="row" id="index-row-2">
        <div class="col-xs-4 col-xs-offset-2 index-example">
            <h2 style="border-color: #1F8A70;">Context Aware</h2>
            <p class="index-example-body">
                What is yellow? How does yellow feel, how does it taste? Blot're leaves the meaning up to you.
            </p>
        </div>
        <div class="col-xs-4 index-example">
            <h2 style="border-color: #FD7400;">Human</h2>
            <p class="index-example-body">
                With 16,777,216 colors, Blot're captures the entirety of human thought and emotion.
            </p>
        </div>
    </div>

    <div class="row" id="index-row-3">
        <div class="col-xs-4 index-example">
            <h2 style="border-color: #FF712C;">We &#10084; developers.</h2>
            <p class="index-example-body">
                Access and update colors with our REST API. Hook your app up to the color graph.
            </p>
        </div>
        <div class="col-xs-4 index-example">
            <h2 style="border-color: #CFC291;">Reactive Mobility</h2>
            <p class="index-example-body">
                Blot're reactivly a mobile first app. We're so mobile first, we left the mobile up to you.
            </p>
        </div>
        <div class="col-xs-4 index-example">
            <h2 style="border-color: #A1E8D9;">IOT Ready</h2>
            <p class="index-example-body">
                Your toaster, car, pacemaker... literally everything will connect to Blot're.<br>
                It's the first IOT social network, with 2^128 potential customers.
            </p>
        </div>
    </div>
}
