@(
    title: String,
    nav: String = "",
    extraHead: Html = Html(""),
    navHeader: Html = Html(""),
    articleHeader: Html = Html(""),
    extraScripts: Html = Html(""))(content: Html)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import play.api.libs.json._
@import play.api.Play.current
@import helper._
@import util._


<!DOCTYPE html>
<html lang="@lang().code()">
    <head>
        <title>@title</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="description" content="@Messages("blotre.meta.description")">

        <link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))">
        <link rel="stylesheet" href="@routes.Assets.at("css/spectrum.css")">
        <link rel="stylesheet" href="@routes.Assets.at("css/main.css")">

        @extraHead
    </head>

    <body data-bind="style: { background: color || 'auto' }">
        <header>
            <nav class="navbar navbar-default navbar-fixed-top" id="header-bar" role="navigation">
                <div class="container-fluid trans-panel">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-collapsed">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a id="brand" class="navbar-brand" href="@routes.Application.index()">
                            <img alt="Blot're" src="/assets/images/logo.svg" />
                        </a>
                        @navHeader

                        @_userStatus()
                    </div>

                    <div id="header-collapsed" class="collapse navbar-collapse">
                        @subjectPresentOr() {
                            <ul class="nav navbar-nav navbar-right">
                            @defining(Application.getLocalUser(session())) { user =>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> @user.name <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="@("active".when(nav == "ac"))"><a href="@routes.Account.account()">@Messages("playauthenticate.navigation.profile")</a></li>
                                        <li class="divider"></li>
                                        <li><a href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout()"><i class="icon-off"></i> @Messages("playauthenticate.navigation.logout")</a></li>
                                    </ul>
                                </li>
                            }
                            </ul>
                        } {
                            <a id="navbar-login"
                               href="@routes.Application.login()"
                               class="navbar-right btn btn-default navbar-btn @("disabled".when(nav == "login"))">@Messages("playauthenticate.navigation.login")</a>
                        }
                        @form(action = routes.Stream.index, 'id -> "navbar-search", 'role -> "search", 'class -> "navbar-form navbar-right") {
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search" name="query">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </nav>
        </header>

        @articleHeader

        <div id="article-container" class="container @(nav + "-container")">
            <ul id="alerts">@if(flash.contains(ApplicationConstants.FLASH_ERROR_KEY)) {
                <li class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">
                        Close</span></button>
                    @flash().get(ApplicationConstants.FLASH_ERROR_KEY)
                </li>
            }@if(flash.contains(ApplicationConstants.FLASH_MESSAGE_KEY)) {
                <li class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">
                        Close</span></button>
                    @flash().get(ApplicationConstants.FLASH_MESSAGE_KEY)
                </li>
            }</ul>

            @content

            <footer>
                <nav>
                    <div class="row">
                        <div class="col-xs-4 col-xs-offset-2">
                            <a href="https://github.com/mattbierner/blotre">Source</a>
                        </div>
                        <div class="col-xs-4">
                            <a href="https://github.com/mattbierner/blotre/wiki">Developer</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4 col-xs-offset-4">
                            <a href="@routes.Application.policy()">The Policy</a>
                        </div>
                    </div>
                </nav>
                <p id="copyright">
                    &copy; @(new Date().format("yyyy")) by <a href="http://mattbierner.com">Matt Bierner</a>
                </p>
                <p id="app-version">
                    @current.configuration.getString("app.version")
                </p>
            </footer>
        </div>

        <div id="loading-overlay" class="hidden">
            <div class="centered">
                <div class="loading-icon">
                    <div></div>
                </div>
                Loading
            </div>
        </div>

        @helper.javascriptRouter("jsRoutes")(
            routes.javascript.Account.authorizations,
        routes.javascript.Account.revokeAuthorization,

            routes.javascript.Stream.index,
            routes.javascript.Stream.getStream,

            routes.javascript.Stream.apiGetStreams,
            routes.javascript.Stream.apiGetStream,
            routes.javascript.Stream.apiCreateStream,
            routes.javascript.Stream.apiDeleteStream,
            routes.javascript.Stream.apiGetStreamStatus,
            routes.javascript.Stream.apiSetStreamStatus,
            routes.javascript.Stream.apiGetChildren,
            routes.javascript.Stream.apiGetChild,
            routes.javascript.Stream.apiCreateChild,
            routes.javascript.Stream.apiDeleteChild,

            routes.javascript.DeveloperController.index,
            routes.javascript.DeveloperController.getClient,
            routes.javascript.DeveloperController.deleteClient,
            routes.javascript.DeveloperController.setRedirects
        )
        @subjectPresent() {
            @defining(Application.getLocalUser(session())) { user =>
                <script>
                    window.initialUserData = @Html(Json.toJson(user).toString());
                </script>
            }
        }

        <script>
            @Html(org.webjars.RequireJS.getSetupJavaScript(routes.WebJarAssets.at("").url))
        </script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("knockout.js"))"></script>
        <script src="@routes.Assets.at("js/spectrum.js")"></script>
        <script src="@routes.Assets.at("js/bootbox.min.js")"></script>
        @extraScripts
    </body>
</html>