@()(implicit request: RequestHeader)

@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@articleHeader = {
    <div id="not-found-header" class="hero-unit">
        <div class="container">
            <div id="not-found-blurb" class="deadly-diamond">
                <span>404</span>

                <div class="diamond-bg">
                    <div class="diamond-bg">
                        <div class="diamond-bg">
                            <div class="diamond-bg">
                                <div class="diamond-bg">
                                    <div class="diamond-bg">
                                        <div class="diamond-bg">
                                            <div class="diamond-bg">
                                                <div class="diamond-bg">
                                                    <div class="diamond-bg">
                                                        <div class="diamond-bg">
                                                            <div class="diamond-bg">
                                                                <div class="diamond-bg">
                                                                    <div class="diamond-bg">
                                                                        <div class="diamond-bg">
                                                                            <div class="diamond-bg">
                                                                                <!-- And that's enough of that -->
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@main(Messages("blotre.notFound.title"), "404", articleHeader = articleHeader) {

}